<section class="gallery-showcase-section">

    <div class="container custom-container">

        <!-- HEADER -->
        <div class="gallery-header">

            <div class="gallery-header-left">

                <span class="gallery-eyebrow">
                    ACTIVITIES & OUTREACH
                </span>

                <h2 class="gallery-title">
                    Moments From Our Programs, Campaigns & Community Initiatives
                </h2>

            </div>

            <div class="gallery-header-right">

                <p>
                    A visual glimpse into educational workshops, awareness
                    campaigns, youth engagement activities and community-driven initiatives.
                </p>

            </div>

        </div>

        <!-- GRID -->
        <div class="gallery-grid">

            <!-- LARGE -->
            <div class="gallery-item gallery-large">

                <img
                    src="assets/images/tournament.jpeg"
                    alt=""
                />

                <div class="gallery-overlay">

                    <span>
                        Youth Activities
                    </span>

                </div>

            </div>

            <!-- SMALL -->
            <div class="gallery-item">

                <img
                    src="assets/images/nik.jpg"
                    alt=""
                />

                <div class="gallery-overlay">

                    <span>
                        Development Workshops
                    </span>

                </div>

            </div>

            <!-- SMALL -->
            <div class="gallery-item olive-bg">

                <img
                    src="assets/images/si-stem.svg"
                    alt=""
                />

                <div class="gallery-overlay">

                    <span>
                        Stem & AI Education
                    </span>

                </div>

            </div>

            <!-- WIDE -->
            <div class="gallery-item gallery-wide yellow-bg">

                <img
                    src="assets/images/lec.jpeg"
                    alt=""
                />

                <div class="gallery-overlay">

                    <span>
                        Community Outreach
                    </span>

                </div>

            </div>

        </div>

    </div>

</section>