* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--text);

    font-family: var(--font-body);
    font-size: 16px;
    line-height: 1.7;

    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-container {
    max-width: var(--container-width);
}